main {
    max-width: 75rem;
    margin: 0 auto;

    article.multiCol{
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-rule: 1px solid silver;
        -webkit-column-rule: 1px solid silver;
        -moz-column-rule: 1px solid silver;
        column-gap: 2%;
        -webkit-column-gap: 2%;
        -moz-column-gap: 2%;
    }

/*----- Column Layout -----*/

            @for $i from 1 through 12 {
                $w: ($i / 12) * 100%;
                .medium-#{$i} {
                    width: $w; 
                    float: left;
                }
            }


            div.sec2 {
                padding-left: 0px;
                margin-right: 0;
            }

}

	footer {
		ul.social li a {
			font-size: 2.5rem;
		}
	}